*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
}
button{
  background-color: lightcoral;
  padding: 5px 10px;
}